html {
  font-size: 10px;
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  background: #7A419B;
  min-height: 100vh; /*최소높이를 브라우저의 높이와 똑같이 설정함 */
  background: linear-gradient(135deg, #7c1599 0%,#921099 48%,#7e4ae8 100%);
  background-size: cover;
  align-items: center;
  justify-content: center;
}

.player {
  max-width: 750px;
  border: 5px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
}

.player:hover .controls {
  transform: translateY(0);
}

.controls {
  font-size: 3rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  transition: transform 0.3s;
  transform: translateY(100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls > * {
  position: relative;
  width:100%;
  height: 100%;
  margin: 0 5px;
}

.progress {
  position: relative;
  display: flex;
  max-height: 15px;
  background-color: rgba(255,255,255,0.8);
}

.progress_filled {
  flex-basis: 0%;
  background-color: #ffc600;
}

.play-stop_button {
  max-width: 50px;
  font-size: center;
  background-color: transparent;
  border: transparent;
  color: white;
  padding: 0;
}

.volume_button{
  max-width: 30px;
  color: white;
  background-color: transparent;
  text-align: center;
  border-color: transparent;
  margin-left: 15px;
  padding: 0;
}

.volume_slider {
  max-width: 70px;
}

.controls_button {
  max-width: 50px;
  background-color: transparent;
  border: transparent;
  color: white;
}

.play-stop_button:hover, .controls_button:hover, .volume_button:hover {
  color: orange;
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255,255,255,0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow:0 0 2px rgba(0,0,0,0.2);
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #bada55;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
}
