html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  background-color: #f8b61f;
  margin: 0;
}

.container {
  margin : 50px auto;
  width : 40rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px #d28501;
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d4d3da;
}

.item:last-child {
  border-bottom: 0;
}

.item p {
  position: relative;
  width: 100%;
  margin: 0;
  font-size: 2rem;
  border-left: 1px solid #009cf8;
  padding: 20px;
}

.checkbox {
  margin: 20px;
  padding: 0;
}
