body {
  margin: 0;
  background-color: #ffc600;
}

h1 {
  text-align: center;
}

.site-wrap {
  font-size: 20px;
  box-sizing: border-box;
  background-color: white;
  padding: 40px;
  max-width: 700px;
  text-align: justify;
  margin: 100px auto;
}

.slide-in {
  opacity: 0;
  transition: all 0.3s;
}

.slide-in.align-left {
  transform: translateX(-50%);
}

.slide-in.align-right {
  transform: translateX(50%);
}

.slide-in.active {
  transform: translateX(0);
  opacity: 1;
}

.align-left {
  float: left;
  margin-right: 20px;
}

.align-right {
  float: right;
  margin-left: 20px;
}
