html {
  font-size: 10px;
  margin: 0;
}

body {
  margin: 0;
}

.panels {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.panel {
  color: white;
  font-size: 5rem;
  position: relative;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: justify;
  transition:
    flex 1s,
    font-size 1s ;
}

.panel1 {background-image: url(https://images.unsplash.com/photo-1518770660439-4636190af475?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)}
.panel2 {background-image: url(https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)}
.panel3 {background-image: url(https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80)}
.panel4 {background-image: url(https://images.unsplash.com/photo-1529236183275-4fdcf2bc987e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80)}
.panel5 {background-image: url(https://images.unsplash.com/photo-1453928582365-b6ad33cbcf64?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80)}

.panel > * {
  margin: 0;
  /* border: 3px red solid; */
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1 0 auto;
  transition: transform 0.3s;
}

.panel p {
  margin: 0;
}

.panel > *:first-child  {transform: translateY(-100%);}
.panel.transitionend > *:first-child  {transform: translateY(0);}
.panel > *:last-child  {transform: translateY(100%);}
.panel.transitionend > *:last-child  {transform: translateY(0);}

.panel.active {
  flex: 5;
  font-size: 8rem;
}
