html {
box-sizing: border-box;
background-color: white;
overflow: hidden;
}

*, *::before, *::after{
box-sizing: inherit;
}

body {
min-height: 100vh;
margin: 0;
}

.nav {
position: relative;
display: flex;
justify-content: center;
/* align-items: center; */
list-style: none;
padding: 0;
margin: 0;
text-align: center;
}

.nav .main__list {
position: relative;
display: flex;
justify-content: center;
height: 60px;
}

.nav a {
position: relative;
width: 100%;
height: 100%;
padding: 20px;
text-decoration: none;
border-radius: 5px;
color: black;
font-weight: 600;
/* background-color: white; */
}

.dropdown {
display: none;
position: absolute;
min-width: 500px;
opacity: 0;
transition: all .2s;
will-change: opacity;
top: 60px;
/* background-color: rgb(80, 79, 240); */
border-radius: 5px;
}

.dropdown p {
color: white;
}

.active .dropdown {
display: block;
}

.opacity__active .dropdown {
opacity: 1;
}

.dropdown__background {
position:absolute;
display: flex;
justify-content: center;
width: 100px;
height: 100px;
background-color: rgb(80, 79, 240);
border-radius: 5px;
opacity: 0;
transition: all .2s;
}

.dropdown__background.open {
opacity: 1;
}

.arrow {
position: absolute;
width: 20px;
height: 20px;
border-radius: 2px;
transform: translateY(-40%) rotate(45deg);
background-color: rgb(80, 79, 240);

}
